@font-face {
  font-family: "notoLight";
  src: url("../assets/fonts/NotoSansKR-Light.otf");
}
@font-face {
  font-family: "notoBold";
  src: url("../assets/fonts/NotoSansKR-Bold.otf");
}

html,
body,
#app,
#app > div {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: notoLight;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

input {
  font-family: notoLight;
}
